APP_NAME=VoyageSmart
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://votre-backend-railway.up.railway.app

LOG_CHANNEL=stderr
LOG_LEVEL=info

DB_CONNECTION=mysql
DB_HOST=
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

BROADCAST_CONNECTION=log
CACHE_STORE=database
CACHE_PREFIX=
QUEUE_CONNECTION=sync
SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

FRONTEND_URL=https://votre-frontend-railway.up.railway.app
